<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EL SAMÁN</title>

    <link rel="stylesheet" href="main.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <nav class="flex-container">

            <div class="logo flex-item">
                <img src="Imagenes/logo.png" alt="" srcset="">
            </div>

            <div class="flex-item con-menu">

                <div class="dropdown">
                    <button class="dropbtn">NOSOTROS</button>
                </div>

                <div class="dropdown">
                    <button class="dropbtn">SERVICIOS</button>
                </div>

                <div class="dropdown">
                    <button class="dropbtn">GENÉTICA</button>
                    <div class="dropdown-content">
                        <a href="#">Embriones</a>
                        <a href="ternera.html">Terneras</a>
                        <a href="#">Novillas</a>
                    </div>
                </div>


                <div class="dropdown">
                    <button class="dropbtn">CONTACTO</button>
                </div>
            </div>
        </nav>
    </header>
    <section class="banner">
        <img src="imagenes/banner.png" alt="jersey puro">
        <button class="btn">MÁS INFORMACIÓN</button>
    </section>

    <section>
        <div class="promo"></div>
    </section>

    <section class="info">
        <div class="izq dividir">
            <h1>¿POR QUÉ JERSEY?</h1>
            <br>
            <div class="typewriter">
                <h2>RUSTICIDAD.</h2>
            </div>
            <br />
            <p>Su talla pequeña (1,25m de altura), peso promedio de hembras adultas entre 400kg a 500kg, hueso fino y excelentes
                patas, permite que se adapte muy fácilmente a una amplia gama de condiciones climáticas y topográficas. Su
                menor tamaño hace que sea mas tolerante al calor y a la humedad, resistiendo hasta 5 grados mas que otras
                razas antes que el exceso de calor afecte su producción.
            </p>
            <br>
            <div class="ternera">
                <img src="Imagenes/novi.png" alt="jersey puro">
            </div>
            <br>
            <div class="typewriter">
                <h2>RENTABILIDAD Y PRODUCTIVIDAD</h2>
            </div>
            <br />
            <p>
                La raza se caracteriza por tener una eficiente conversión de alimento en leche de óptima calidad. La leche de Jersey tiene
                en promedio 18% más proteina, 29% más grasa y 20% más calcio que otras razas especializadas, lo que traduce
                en un mayor precio por litro vendido (30% más sobre el valor normal). </p>
        </div>
        <div class="der dividir">
            <div class="novilla">
                <img src="Imagenes/novilla.png" alt="jersey puro">
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <div class="typewriter">
                <h2>CRUZAMIENTOS</h2>
            </div>
            <br />
            <p>
                La raza se caracteriza por tener una eficiente conversión de alimento en leche de óptima calidad. La leche de Jersey tiene
                en promedio 18% más proteina, 29% más grasa y 20% más calcio que otras razas especializadas, lo que traduce
                en un mayor precio por litro vendido (30% más sobre el valor normal). </p>
            <br>
            <div class="ternera">
                <img src="Imagenes/ternera.png" alt="jersey puro">
            </div>
        </div>
    </section>
    <footer>
        <h3>MANTENTE EN CONTACTO</h3>
        <p>Suscríbete para recibir nuestra última información</p>
        <form>
            <input type="text" id="correoo" name="correo" placeholder="Tu correo..">
            <input type="submit" value="ENVIAR">
        </form>
        <div class="sombra">
            <i class="fab fa-facebook"></i>
            <i class="fab fa-twitter-square"></i>
            <i class="fab fa-google-plus-square"></i>
        </div>
    </footer>
    <script src="main.js"></script>
</body>
</html>